body {
  padding-top: 55px;
}

.hero {
  min-height: 100vh; /* FULL layar */
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("9.jpeg") center center / cover no-repeat;
}


.section-title {
  border-left: 6px solid #dc2626;
  padding-left: 200px;
  font-weight: bold;
}

/* =========================
   VIDEO & FOTO (BAHAN & HASIL)
========================= */

.video-box {
  background: #fff;
  padding: 12px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

/* FOTO & VIDEO SERAGAM */
.video-box video,
#gallery video,
#gallery img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 12px;
  background: #000;
}

/* JUDUL VIDEO / KETERANGAN */
.video-title {
  margin-top: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

/* =========================
   RESPONSIVE
========================= */

/* HP */
@media (max-width: 576px) {
  .hero {
    min-height: 80vh;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .video-box video,
  #gallery video,
  #gallery img {
    height: 200px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .video-box video,
  #gallery video,
  #gallery img {
    height: 50px;
  }
  
}


